apiVersion: v1
kind: Service
metadata:
  name: test-app
  namespace: deployment-hpa-container-thresholds
spec:
  selector:
    app: test-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: ClusterIP

